@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jockes Appilcation</h1>
    <p>The foremost authority for good humor that yoy will fibd anywhere on your local host.</a>.</p>
</div>
